<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>TrackYourLift</h1>
    <p>Welcome </p>
  </body>
  <% include ./partials/script %>
</html>
